<if condition="USE_EYE_NAV">
  <div id="navbar" class="only-logo">
    <div class="logo-container">
      <a href="https://www.columbiaspectator.com/eye">
        <img id="eye-logo" src="https://spectator-static-assets.s3.amazonaws.com/eye-logo-black.png" />
      </a>
      <button onclick="script.hamburgerTrigger()" class="hamburger-btn">
        <div class="hamburger"></div>
      </button>
    </div>
    <div id="nav-links">
      <each loop="item in [0, 1].map(p => ({
        pageNum: p,
        name: top['page_' + p + '_title'],
        link: 'index' + p + '.html',
      }))">
        <div class="nav-link" id="nav-link-{{ item.pageNum }}">
          <a href="{{ item.link }}">{{ item.name }}</a>
        </div>
      </each>
    </div>
  </div>
</if>
