@import 'styles/spectate';

// @import 'styles/eye-lead-ellipsis';
// @import 'styles/news-ellipsis';

.story-top .graphic {
  margin-bottom: 0;
}

.lede-interactive {
  height: 300px;
  max-width: 600px;
  border: 1px solid red;
  margin: 0 auto;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-container{
	height:100vh;
	border: 1px solid green;
	position:sticky;
	top:0;
	z-index:-1;

	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.sticky-portrait p {
	padding-bottom: 50vh;
}

.test{
	padding-top: 10vh;
}

.name-text{
	text-align: left;
	margin: 0 0 0 20vh;
	color: white;
	font: Georgia;
	font-size: 50;
}

.rest-text{
	text-align: left;
	margin: 0 0 0 20vh;
	color: white;
	font: Georgia;
	font-size: 30;
	flex-wrap:wrap;
}

.desc-text{
	text-align: left;
	margin: 0 0 0 20vh;
	color: white;
	font: Georgia;
	font-size: 20;
	flex-wrap:wrap;
}

.map{
	margin: 0 20vh 0 0;
	width: 40vh;
	height:auto;
	position:relative;
	top:-70px
}
